* {margin: 0;}

body {
    background-color: white;
    margin: 0;
}

/* Centered absolute elements */
.x-centered {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%);
}

.bar {
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0, 217, 255);
    height: 45px;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 3px;
    padding-right: 3px;
    border: none;
    overflow: hidden;
    box-shadow: 0px -10px 35px 5px rgb(0, 102, 255);
}

/* Nav bar buttons */
.btn {
    margin-left: 3px;
    margin-bottom: 5px;
    padding: 7px 10px;
    border-width: 5px;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(0, 0, 0, 0);
    transition-duration: 0.1s;
    cursor: pointer;
    
    font: 18px Verdana;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 3px white;
}
.btn:hover {
    color: yellow;
    text-shadow: 0px 0px 3px yellow;
}
.selected {
    color: yellow;
    text-shadow: 0px 0px 5px yellow;
}

/* Footer */
footer {
    background-color: rgb(0, 98, 255);
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 15px 35px 5px blue;
    color: rgb(0, 98, 255);
}
/* Text inside footer */
footer > h1 {
    text-shadow: 0px 0px 2px white;
    font-size: 20px;
    color: white;
}
/* fixes the text turning black when hovering over the link */
footer > h1:hover {
    color: white;
}

/* Links */
a {
    color: yellow;
    text-decoration: none;
}
    
.title {
    width: 100%;
    text-align: center;
    padding-top: 80px; padding-bottom: 30px;
    box-shadow: 0px -15px 35px 5px black;
    transition-duration: 0.5s;
    margin-bottom: 10px;
}
/*
.title:hover {
    padding-top: 110px;
    padding-bottom: 60px;
}
*/

/* Header and others */
h1 {
    display: inline-block;
    text-shadow: 0px 2px 5px rgb(99, 99, 99);
    font-family: Verdana;
    color: black;
    transition-duration: 0.2s;
}
h1:hover {
    color: rgb(50, 50, 50);
}

h3 {
    font: 18px Verdana bold;
    font-weight: bold;
}
    
hr {
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}

img {
    border-radius: 20px;
    /*max-width: 200px;*/
    max-height: 200px;
}
