* {margin: 0;}

body {
    background-color: white;
    margin: 0;
}

.bar {
    display: inline-block;
    width: 100%;
    position: fixed;
    background-color: aqua;
    height: 45px;
    padding-top: 6px;padding-bottom: 6px;
    padding-left: 3px;
    border: none;
    overflow: hidden;
    box-shadow: 0px 6px blue, 0px 10px 8px 5px rgb(0, 0, 156);
    margin-top: -4px;
}

.title {
    width: 100%;
    text-align: center;
    padding-top: 170px; padding-bottom: 100px;
    background-color: rgb(72, 255, 56);
}

h1 {
    display: inline-block;
    text-shadow: 2px 2px rgb(120, 120, 151, 20);
}

hr {
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}

.btn {
    margin-left: 3px;
    margin-bottom: 5px;
    padding: 7px 10px;
    border-radius: 10%;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(0, 81, 255);
    background-color: rgb(0, 162, 255);
    transition-duration: 0.15s;
    box-shadow: 0px 6px blue;
    cursor: pointer;
}
.btn:active {
    transform: translateY(4px);
    box-shadow: 0px 2px blue;
}
.btn:hover {
    border-color: rgb(62, 123, 255);
    background-color: rgb(73, 188, 255);
}